@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter";
}

.osvauld-logo {
   display: flex;
   justify-content: center;
   align-items: center;
}

.osvauld-logo > svg {
    width: 24px;
    height: 24px;
}

.primary-addsecret {
    background-color: #4E46DC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50px;
    height: 24px;
    border-radius: 25px;
    margin-top: 10px;

}
.home-container {
    background-color: #262C44;
    height: 100%;
}

.generic-search-container > svg {
    margin-right: 10px;
}
.generic-search-container{
    width: 100%;
    height: 30px;
    background-color: #2E3654;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.generic-search {
    width: 90%;
    background-color: #2E3654;
}

input::-webkit-input-placeholder{
    color: rgba(130, 140, 174, 1);
}

.domain-of-interest {
    font-size:medium;
    color: white;
    font-weight: normal;
    margin-bottom: 10px;
}

.tags{
    list-style: none ;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin-bottom: 25px;
}

.tags > li{
    background-color: #2E3654;
    color: rgba(130, 140, 174, 1);
    height: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
}

.tags > li.selected {
    background-color: #837EE6 ;
    color: white;
}

.tags > li > span {
    margin-right: 5px;
}



.heading h2 {
    font-size: small;
    margin-bottom: 10px;
    font-weight: normal;
    color: #828CAE;
}

.list-container {
    min-height: 100px;
    height: 150px;
    background-color: #2E3654;
    border-radius: 5px;
}

.list-item {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: medium;
    font-weight:lighter;
    color: white;
}

.list-item .individual-item:first-of-type {
    background-color: #2E3654;
    margin-top: 5px;
}


.list-item > .individual-item {
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 50px;
    width: 95%;
    border: 1px solid rgba(76, 89, 139, 0.3);
    font-weight: normal;
    transition:  background-color 0.15s ease-in;
}

.left-section {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 20px;
}

.left-section svg {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}


.list-item > .individual-item:hover {
  background-color: antiquewhite;
}

.list-item .icon-enter {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.cred-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2E3654;
    border-radius: 10px;
    box-sizing: border-box;
    padding-bottom: 25px;
}



.back-section {
    width: 90%;
    height: 20%;
    transition: scale 0.15s ease-in;
}

.back-section svg:hover {
    scale: 1.4;
}


.cred-section {
    height: 70%;
    width: 80%;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cred-section h3 {
    font-size: small;
    font-weight: normal;
    margin: 5px 0;
    color: #828CAE;
}

.cred-section p {
    font-size: small;
    font-weight: normal;
    margin: 5px 0;
    color: #828CAE;
}

.cred-section svg {
   transition: scale 0.15s ease;
}
.cred-section svg:hover{
    scale: 1.06;
}

.username, .password {
    width: 100%;
    border: 1px solid #4C598B4D;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    background-color: #2E3654;
    margin-bottom: 5px;
}

.cred-section input {
    background-color: #2E3654;
    width: 110%;
    height: 100%;
    border: none;
    border-radius: 25px;
} 

.cred-section input {
    all: unset;
    padding-left: 5px;
    font-size: medium;
    font-weight: normal;
    color: white;
  }



.button-section {
   padding-top: 10px;
   width: 100%;
   padding-left: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.button-section button {
    width: 80%;
    background-color:  #4E46DC;
    font-size: small;
    font-weight: normal;
    color: white;
    padding: 12px 50px;
    border-radius: 30px;
    transition: background-color 0.15s ease;
}


.login-button button:hover {
    background-color: #3A4468;
}

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 0;
}

.error-message p {
    color: red;
    letter-spacing: 0.4px;
}

