body {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    font-family: "Inter",sans-serif;
    background-color: #EEEEEE;
    font-size: medium;
  }

  .header {
    background-color:  #3A4468;
    color: white;
    width: 100%;
    position: fixed;
    top:0;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

  .email-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .email-item {
    border-bottom: 1px solid gainsboro;
    padding: 10px;
    font-weight: 300;
    letter-spacing: -4%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.15s ease-in;
  }

  .email-item:hover {
    background-color: #9fa5bb;
  }