body {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    font-family: Arial, sans-serif;
    background-color: #EEEEEE;
    font-size: medium;
    letter-spacing: 1.4px;
  }

  .header {
    background-color: #7134eb;
    color: white;
    width: 100%;
    position: fixed;
    top:0;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

  .email-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .email-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
  }

  .email-item:hover {
    background-color: #8BC34A;
  }